.banner-line {
    background-color: $color-red-2;
    width: 100%;
    height: 10px;
}
.banner {
    background-color: #29303b;
    padding: 30px 0;
    .banner-content {
        width: 90%;
        margin: 0 auto;
        .banner-layout {
            margin: 25px 0;
        }
        .banner-txt {
            text-align: center;
            align-items: center;
            i {
                text-align: center;
                font-size: 32px;
                color: white;
            }
            .banner-first-txt {
                @include styleText (white, $fs-3, $fw-bold);
            }
            .banner-last-txt {
                color: white;
            }
        }
    }
}

.banner {
    //1200px
    @include responsive("extra-large"){
        
    }
    //768px
    @include responsive("medium"){
        .banner-content {
            .banner-txt {
                i {
                    display: none;
                    width: 0;
                }
                .col-3 {
                    width: 100%;
                }
            }
        }
    }
}
