.course {
    display: flex;
    width: 90%;
    margin: 50px auto;
}
.course-left {
    .course-left-content {
        margin-top: 10px;
    }
    width: 30%;
    background: #f7f8fa;
    padding: 100px 25px;
    margin-right: 20px;
    span:first-child {
        font-size: $fs-2 - 1;
        font-weight: bold;
        padding-top: 10px;
    }
    span:last-child {
        font-size: $fs-0 + 1;
    }
}

.course-right {
    width: 70%;
    .owl-carousel {
        margin-top: 10px;
    }
    .owl-item {
        width: 100%;
        // margin: 0 20px;
    }
    .nav-item {
        border: none;

        &.active {
            border-bottom: 5px solid darkslateblue;
        }
        &:hover {
            color: darkslateblue;
        }

        color: black;
    }
    .tab-content {
        position: relative;
    }
    .owl-nav {
        .owl-prev {
            position: absolute;
            top: 30%;
            left: -20px;
            width: 50px;
            height: 50px;
            background-color: white !important;
            border-radius: 50%;
            outline: none;
            box-shadow: 1px 1px 5px $color-gray-4;
            &:hover{
                box-shadow: 3px 3px 10px $color-gray-4;
            }
            span {
                line-height: 27px;
                font-size: 50px;
            }
        }
        .owl-next {
            position: absolute;
            top: 30%;
            right: -20px;
            width: 50px;
            height: 50px;
            background-color: white !important;
            border-radius: 50%;
            outline: none;
            box-shadow: 1px 1px 5px $color-gray-4;
            &:hover{
                box-shadow: 3px 3px 10px $color-gray-4;
            }
            span {
                line-height: 27px;
                font-size: 50px;
            }
        }
    }
    .card-body {
        .card-text {
            @include styleText($color-gray-4, $fs-0 - 2, $fw-normal);
        }
        .course-right-stars {
            i {
                color: rgb(216, 216, 6);
            }
        }
        .price {
            float: right;
            span:first-child {
                text-decoration: line-through;
            }
            span:last-child {
                @include styleText(black, $fs-2, $fw-bold);
            }
        }
    }
}

.course {
    //1200px
    @include responsive("extra-large"){
        
    }
    //768px
    @include responsive("medium"){
        .course-left {
           display: none;
        }
        .course-right {
            .nav-tabs {
                width: 100%;
                margin: 20px 60px;
            }
            .nav-item {
                display: flex;
                justify-content: space-evenly;
                margin: 0;
                padding: 0 5px;
            }
        }
        .owl-carousel {
            margin: 0 20%;
        }
        .owl-nav {
            .owl-prev {
                left: -60px;
            }
            .owl-next {
                right: -60px;
            }
        }
    }
}
