.feedback {
    background-color: #f2f3f5;
    padding: 20px 0;
}
.feedback-container {
    width: 90%;
    margin: 20px auto;
    p:first-child {
        @include styleText($color-gray-4, $fs-3, $fw-normal);
    }
    .card {
        width: 95%;
        // height: 100%;
        .card-body {
            padding: 2.25rem;
        }
        .card-body-img {
            display: flex;
            align-items: center;
            // height: 100%;
            img {
                width: 15%;
                height: 20%; // ????
                border-radius: 50%;
                margin: 10px;
            }
        }
    }
    .owl-prev {
        position: absolute;
        top: 30%;
        left: -25px;
        width: 50px;
        height: 50px;
        background-color: white !important;
        border-radius: 50%;
        outline: none;
        box-shadow: 1px 1px 5px $color-gray-4;
        &:hover {
            box-shadow: 3px 3px 10px $color-gray-4;
        }
        span {
            line-height: 27px;
            font-size: 50px;
        }
    }
    .owl-next {
        position: absolute;
        top: 30%;
        right: -10px;
        width: 50px;
        height: 50px;
        background-color: white !important;
        border-radius: 50%;
        outline: none;
        box-shadow: 1px 1px 5px $color-gray-4;
        &:hover {
            box-shadow: 3px 3px 10px $color-gray-4;
        }
        span {
            line-height: 27px;
            font-size: 50px;
        }
    }
}
