.footer-first {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    .footer-first-content {
        margin: 40px 0;
        a {
            display: block;
            text-decoration: none;
            @include styleText($color-blue, $fs-0 - 2, $fw-normal);
            line-height: 30px;
            &:hover {
                color: $color-black-0;
            }
        }
        .footer-bigtxt {
            @include styleText($color-blue, $fs-0 - 2, $fw-bold);
        }
    }
}

.footer-last {
    display: flex;
    width: 80%;
    margin: 30px auto;
    justify-content: space-between;
    .footer-last-content {
        display: flex;
        align-items: center;
        p {
            margin: 0;
            font-size: $fs-0 - 2;
        }
        a {
            display: block;
            text-decoration: none;
            @include styleText($color-blue, $fs-0 - 2, $fw-normal);
            line-height: 30px;
            margin: 0 10px;
            &:hover {
                color: $color-black-0;
            }
        }
        img {
            width: 100px;
            margin: 0 10px;
        }
    }
}

.footer-end {
    width: 100%;
    height: 10px;
    background-color: $color-red-0;
}

// RESPONSIVE
.udeFooter {
    @media screen and (min-width: 768px) {
        .respon-footer {
            display: none;
        }
    }
    //992px
    @include responsive("small") {
        
    }
    //768px
    @include responsive("medium") {
        .main-footer {
            display: none;
        }
    }
}
