// Khai báo mixin để thêm CSS cho các kiểu chữ
@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}


@mixin styleButton($bg-color, $border-color, $radius, $py, $px){
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: $radius;
    padding: $py $px;

    // &:hover {
    //     background-color: ;
    //     border-color: ;
    //     color: ;
    // }
}

@mixin styleHoverButton($bg-color, $bd-color, $color) {
    background-color: $bg-color;
    border-color: $bd-color;
    color: $color;
}

@mixin styleSearchButton($color, $bg-color) {
    color: $color;
    background: $bg-color;
}
@mixin styleSearchButtonHover($bg-color, $color) {
    background-color: $bg-color;
    color: $color;
}

// Xử lý responsive
// $sceen: tên màn hình cần responsive (small, medium,...)
@mixin responsive($screen) {
    //Kiểm tra tên màn hình có tồn tại hay không
    //Câu lệnh điều kiện
    //Giả sử cần lấy màn hình md-768px
    //map-has-key: kiểm tra xem tên màn hình có tồn tại hay chưa, nếu có tồn tại thì trả kêt quả là true, ngược lại nếu sai thì là false    
    //map: chứa tên biến đang có danh sách màn hình cần lấy
    //key: tên màn hình cần tìm
    @if(map-has-key($map:$breakpoints , $key:$screen)) {
        //Xử lý nếu tên màn hình hợp lệ
        //map-get: Lấy giá trị của màn hình tìm được
        //value: chứa giá trị màn hình lấy được
        //ví dụ value: 786px
        $value: map-get($map:$breakpoints , $key:$screen);

        //code responsive của CSS3
        @media screen and (max-width:$value) {
            @content;
        }
    } 
    @else {
        //xử lý khi tên màn hình sai
        @warn "màn hình chưa khai báo";
    }
}